<header class="nav-bar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="logo">
          <span class="logo-title">{{title}}</span>
        </div>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button *ngFor="let item of navigations" [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </a>
        </div>
        <button mat-button [matMenuTriggerFor]="menu">Login</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let user of users">{{user.label}}</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main>
    <!-- for the site contain -->
    <router-outlet></router-outlet>
  </main>
  
  <footer>
    <mat-toolbar color="accent" class="footer">
      <mat-toolbar-row>
        <div class="copyright mat-typography">
          <span>&#9400;2019 - Copyright: </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
  